button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border: none;
    color: #ced7f4;
    text-shadow: none;
    background-color: rgba(30, 30, 46, 0);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
